
div {
	font-size: 20pt;
	font-family: arial;
	text-align: center;
}

input, select, tr {
	font-size: 20pt;
	font-family: arial;
	}


.e01 {
	font-size: 10pt;
	font-family: arial;
}

.e02 {
	font-size: 20pt;
	font-family: arial;
}

.e03 {
	display: none;
}
