<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>| App Escolar - UC 12 |</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">App Escolar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/professores"> << Listar Professores >>	</a></li>
						<li class="nav-item"><a class="nav-link" href="/cadastraProfessor"> << Cadastrar Professor >> </a></li>
						<li class="nav-item"><a class="nav-link" href="/cursos"> << Listar Cursos >></a></li>
						<li class="nav-item"><a class="nav-link" href="/cadastrarCurso"> << Cadastrar Curso >></a></li>						
						<li class="nav-item"><a class="nav-link" href="/alunos"> << Listar Alunos >></a></li>
						<li class="nav-item"><a class="nav-link" href="/cadastrarAluno"> << Cadastrar Aluno >></a></li>						
						<li class="nav-item"><a class="nav-link" href="/logout">Sair </a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>



    <div class="container">

        <h1>Atualizar cadastro do Aluno</h1>

        <br>
		
		<th:block th:include="mensagem-validacao"></th:block>


        <form method="post">


            <div class="form-group">
                 <label for=""><b>Nome do aluno:</b> </label> <input type="text" class="form-control" value="" name="nome"
                    required th:attr="value = ${aluno.nome}"/> <small class="form-text text-muted"><i>*
                        Utilize somente letras.</i></small>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for=""><b>Matricula:</b></label><input type="text" value="" name="matricula" class="form-control"
                            required th:attr="value = ${aluno.matricula}"/> <small class="form-text text-muted"><i>* Utilize
                                somente números.</i></small>
                    </div>

                </div>
                <div class="col">
                    <label for=""><b>Data Nascimento:</b> </label> <input type="date" value="" name="nascimento" class="form-control"
                        required th:attr="value = ${aluno.nascimento}"/><small class="form-text text-muted"><i>Formato
								Dia/Mês/Ano</i></small>
                </div>
            </div>

            <div class="row">
            
                <div class="col">
                    <div class="form-group">
                        <label for=""><b>Código Curso:</b></label><input type="number" value="" name="curso.id" class="form-control"
                            required th:attr="value = ${aluno.curso.id}"/> <small class="form-text text-muted"><i>Utilize somente números.</i></small>
                    </div>

                </div>
 
                <div class="col">
                    <div class="form-group">
                        <label for=""><b>Cóigo Professor:</b></label><input type="number" value="" name="professor.id"
                            class="form-control" required th:attr="value = ${aluno.professor.id}"/> <small class="form-text text-muted"><i>Utilize somente números.</i></small>
                    </div>

                </div>
            </div>



            <button type="submit" class="btn btn-success">Atualizar cadastro do Aluno</button>

        </form>

    </div>


    <div style="height: 100px;"></div>

    <div class="footer-copyright fixed-bottom bg-dark text-center py-3">
        <span class="text-light align-middle">| App Escolar - UC 12 | - ©
            2022 Copyright: CTM Supervisão de Educação Online</span>
    </div>


    <!--JavaScript bootstrap-->
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">

    </script>


</body>

</html>