.login-page {
    background-image: url('background.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
}